<%- include("partials/heading"); -%>

<div class="card" style="width: 18rem;">
  <img src="images/logo.png" alt="...">
  <hr>
  <div class="card-title">
    Sign Up
  </div>
  <div class="card-body">
    <form method="post" action="/register">
      <div class="form-group">
        <label>Username</label>
        <input name="username" type="texr" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-check">

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include("partials/footer"); -%>
